**INSERT TEXT HERE**

Info about the dataset:

Columns - Gender,Age,Hb,RBC,PCV,MCV,MCH,MCHC,Decision_Class

In [19]:
import numpy as np
import pandas as pd
import csv

In [20]:
df = pd.read_csv('anemia.csv')

df.head(10)

  Gender  Age    Hb   RBC   PCV   MCV   MCH  MCHC  Decision_Class
0      f   32  10.9  4.26  34.2  80.2  25.5  31.8               1
1      f   45   9.6  3.64  29.9  82.1  26.4  32.2               1
2      f   38  10.1  3.70  32.4  87.6  27.4  31.3               1
3      m   37  11.0  3.93  33.6  85.3  27.9  32.7               1
4      f   50  12.1  4.16  36.5  87.9  29.2  33.2               0
5      f   40  10.4  3.59  30.4  84.5  27.7  32.7               1
6      f   32   6.8  1.99  15.4  77.4  24.0  31.0               1
7      m   18  11.6  4.06  35.5  87.4  28.6  32.8               1
8      m   38  12.0  4.38  36.3  82.8  27.5  33.2               0
9      f   50  11.7  4.35  36.6  84.0  26.9  32.0               1